body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

nav {
    background-color: transparent;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #ff4081;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff4081;
    transition: width 0.3s, left 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}


main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: black;
    
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #1c1c1c;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;

}