* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    max-height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

nav {
    background-color: transparent;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #ff4081;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff4081;
    transition: width 0.3s, left 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

.carousel {
    position: relative;
    width: 1170px;
    margin: auto;
    overflow: hidden;
    
}

.carousel-images {
    display: flex;
    animation: slide 25s infinite; /* Adjusted for 6 images */
}

.carousel-image {
    min-width: 100%;
    transition: transform 2.5s ease;
}

.carousel-image img {
    width: 100%;
    display: block;
}

@keyframes slide {
    0% { transform: translateX(0); }
    16.67% { transform: translateX(0); } /* 1st image */
    20% { transform: translateX(-100%); }
    36.67% { transform: translateX(-100%); } /* 2nd image */
    40% { transform: translateX(-200%); }
    56.67% { transform: translateX(-200%); } /* 3rd image */
    60% { transform: translateX(-300%); }
    76.67% { transform: translateX(-300%); } /* 4th image */
    80% { transform: translateX(-400%); }
    96.67% { transform: translateX(-400%); } /* 5th image */
    100% { transform: translateX(-500%); }
}

h2 {
    font-size: 2rem;
}

.game-list {
    margin-top: 100px;
}

.game-list h2 {
    margin-bottom: 40px;
    font-size: 28px;
    text-align: left;
    margin-left: 25px;
    border-bottom:2px solid rgb(236, 6, 163);
    max-width: fit-content;
}
.game-list p{
    margin-left: 25px;
    margin-top: -20px;
}
.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game {
    margin: 15px;
    text-align: center;
    width: 170px;
    transition: transform 0.3s;
}
.game a{
    text-decoration: none;
    color: white;
}
.game:hover {
    transform: scale(1.05);
}

.game img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.game h3{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
    background-color: #1c1c1c;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}